@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
* {
  font-family: 'Antonio', sans-serif;
}
.centred {
  margin: auto;
  max-width: 80%;
  max-height: fit-content;
}
.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 50%;
}
p {
  font-size: 80%;
}

.item1 {
  grid-column: 1 / span 4;
  grid-row: 1;
}
.item3 {
  grid-column: 3 / span 2;
  grid-row: 2 / span 4;
}
.item2 {
  grid-column: 1 / span 2;
  grid-row: 2;
}
.item4 {
  grid-column: 1 / span 2;
}
.item7 {
  grid-column: 1 / span 2;
}
.item8 {
  grid-column: 1 / span 4;
  grid-row: 7;
}
.div-img2 {
  display: inline-block;
}
p {
  text-align: justify;
  color: #5c5c5cbb;
  text-shadow: rgb(59, 59, 59);
  font-weight: bold;
}
h2 {
  color: lightgrey;
}
h1 {
  color: rgba(255, 0, 0, 0.618);
  font-size: 150%;
  font-weight: bold;
}
a {
  color: rgba(255, 0, 0, 0.618);
  font-weight: bold;
}
hr {
  border: 1px solid #c2bbbb96;
  background-color: #c2bbbb96;
  text-shadow: #c2bbbb96;
}
.side_img {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  min-height: 100%;
  object-fit: contain;
}
.img1 {
  min-height: 100%;
  margin-left: 25%;
  object-fit: contain;
}
.img2 {
  object-fit: scale-down;
}
@media screen and (max-width: 720px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
  .img1 {
    display: inline-block;
    min-height: auto;
    min-width: auto;
    margin: auto;
  }
}
